<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.hotelariadsl"
            id="hotelariaAcceleo.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="hotelariaAcceleo.ui.popupMenus.AcceleoGenerateHotelariaAcceleotojavaAction"
               enablesFor="+"
               id="hotelariaAcceleo.ui.popupMenus.acceleoGenerateHotelariaAcceleotojavaAction"
               icon="icons/default.gif"
               label="Generate HotelariaAcceleo to java"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
